STEAM_ROOT="${HOME}/.local/share/Steam"
CONTENT_COMPILER="${STEAM_ROOT}/steamapps/common/Scrap Mechanic/Release/ContentCompiler.exe"
STEAM_COMPAT_DATA_PATH="${STEAM_ROOT}/steamapps/compatdata/588870"
PROTON="${STEAM_ROOT}/steamapps/common/Proton - Experimental/proton"
PROTONTRICKS_APPID=588870
