*.mco
*.mco
MTMultitoolSavefile*
NewToolSettings*
Backups/Backup*
Backups/AllBackup*
IconMapsBackups/
/Gui/FastLogicGateOverlays/
/Renderable/Renderer
translation_ext/
CONTEXT.md
docs/
.env
.venv/
__pycache__/
Cache/Bundle
Cache/Mesh
Cache/Textures
